* {
    margin: 0px;
    padding: 0px;
}


/*------------Шапка------------*/

.header {
    background-image: url(images/fon-header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-line {
    display: flex;
    padding: 0px 130px;
    justify-content: center;
}


/* Логотип */

.header-logo {
    padding-top: 24px;
}

.header-text>ul {
    display: flex;
    list-style-type: none;
    padding-top: 36px;
    padding-left: 40px;
}


/* Текст шапки */

.header_text {
    color: #ffff;
    text-decoration: none;
    padding-right: 40px;
    font-size: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.header_text:hover {
    color: #F2B33A;
}


/* Кнопка Войти */

.button_sign_in {
    color: #252525;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FDF7F5;
    padding: 4px 34px;
    margin-right: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.header-cart {
    margin-top: 30px;
}


/* Отступы главного текста шапки */

.G_text_header {
    padding-left: 130px;
    padding-top: 184px;
}

.G_text {
    color: #F2B33A;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 42px;
    width: 700px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 40px;
}

.g2_text {
    color: #E8E8E8;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    width: 550px;
    padding-bottom: 40px;
}


/* Кнопка Заказ */

.btn_zakaz>a {
    color: #252525;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F2B33A;
    padding: 17px 49px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn_zakaz:hover {
    transform: scale(1.03);
}


/* Кнопка подробнее */

.btn_podrobno>a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-width: 3px;
    padding: 14px 28px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn_podrobno:hover {
    transform: scale(1.03);
}

.btns {
    display: flex;
    padding-top: 40px;
}

.btn_zakaz {
    padding-right: 40px;
}


/*^^^^^^^^^^^Шапка^^^^^^^^^^^*/