.btn_adm_panel>a{
	color: #252525;
	text-decoration: none;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #F2B33A;
	padding: 15px 30px;
	border-radius: 15px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	transition: 0.4s;
}

.btn_adm_panel>a:hover{
	background-color: #252525;
	color: #E8E8E8;
}

.btn_adm_panel{
	margin-top: 40px;
}

.btn_adm_panel{
	margin-right: 20px;
}

.btn_panLine{
	display: flex;
}

.text_inst>h2 {
	font-size: 34px;
}

/* [Кнопка добавить] */

.buttonAdd {
	color: #252525;
	text-decoration: none;
	font-size: 23px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #FDF7F5;
	padding: 10px 20px;
	margin-right: 40px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #252525;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	transition: 0.4s;
	margin-left: 20px;
}

.buttonAdd:hover {
	background-color: #F2B33A;
	color: #252525;
	cursor: pointer;
}

.text_inst {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 3px solid #BCBCBC;
	margin-top: 50px;
}

.text_inst h2 {
	padding: 0 20px;
	border-right: 3px solid #252525;
}

.blocks {
	margin-top: 30px;
}

.block {
	background-color: #fff;
	width: 100%;
	height: 160px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 40px 0;
}

.tovar_icon {
	height: 100px;
	width: 100px;
	border-radius: 40px;
	margin-right: 20px;
}

.tovar_value {
	display: flex;
	align-content: center;
	align-items: center;
	padding: 40px;
}

.tovar_value input {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
	color: #424242;
	font-size: 38px;
	width: 400px;
	border: none;
	border-bottom: 2px solid #b1b1b1;
	outline: none;
}

.btn_block {
	display: flex;
	margin-right: 20px;
}

.btn_block img {
	height: 50px;
	width: 50px;
	cursor: pointer;
	margin-right: 20px;
	padding: 8px 8px;
	transition: 0.5s;
	border-radius: 10px;
	background-color: #cecece3f;
}

.btn_block>img:hover {
	background-color: #0000003f;
	border-radius: 20px;
}


.block_show {
	width: 100%;
	height: 200px;
	background-color: lightblue;
	/* display: block; */
}


.top {
	height: 100px;
	background-color: black;
}

/* _______________________PopUp panel_______________________ */

.Panel_block {
	width: 1065px;
	min-height: 100px;
	margin-bottom: 40px;
	margin: 0 auto;
}

.Panel_text_line {
	display: flex;
	align-items: flex-end;
	color: #252525;
	margin-left: 40px;
	padding-top: 32px;
}

.Panel_text_line>h2 {
	width: 200px;
	border: 2px solid #b1b1b100;
	margin-right: 1px;
	text-align: center;
	font-size: 28px;
}

.Panel_value_line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.product_info {
	margin-left: 40px;
}

.product_info input {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	color: #424242;
	font-size: 30px;
	border: none;
	border: 2px solid #b1b1b1;
	outline-color: #008fc7;
	height: 35px;
	width: 200px;
	border-radius: 5px;
	margin-right: 1px;
	text-align: center;
}

.btn_block .btn_info {
	padding: 5px 5px;
}

.btn_add_tovar {
	margin-left: 20px;
	padding-bottom: 20px;
}

.buttonAddTovar {
	width: 820px;
	height: 40px;
	border: 2px solid #252525;
	font-size: 22px;
	color: #444444;
	font-family: 'Ubuntu', sans-serif;
	background-color: #f1f1f1;
	border-radius: 10px;
	border-color: #252525;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	transition: 0.4s;
	margin-left: 20px;
}

.buttonAddTovar:hover{
	background-color: #444444;
	color: #f1f1f1;
	cursor: pointer;
}

.name_applic{
	margin-right: 50px;
}

.applic input{
	width: 350px;
}