.section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.platforma {
	background-color: rgba(37, 37, 37, 0.85);
	color: #FDF7F5;
	border-radius: 25px;
	padding: 0px 35px 35px 35px;
}

.vhod {
	display: flex;
	justify-content: center;
	margin: 40px 0px;
	font-size: 36px;
}

.login,
.password,
.repeat_password {
	margin-bottom: 30px;
}

.log,
.pass,
.rep_pass {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: #424242;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
	height: 20px;
	width: 400px;
	border: none;
}


/* [Кнопка login] */

.btn_vhod {
	background-color: #F2B33A;
	color: #252525;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 6px;
	border: none;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.button_vhod {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 15px;
}

.btn_vhod:hover {
	background-color: #dba238;
}

.platforma div>a {
	color: #007bff;
	text-decoration: none;
	font-size: 15px;
	font-family: sans-serif;
}

.platforma div>a:hover {
	color: #0062ca;
	text-decoration: underline;
}

.a_bottom {
	margin-bottom: 10px;
}

@media (max-width:500px) {

	.log,
	.pass,
	.rep_pass {
		width: 300px;
	}
}

@media (max-width:400px) {

	.log,
	.pass,
	.rep_pass {
		width: 200px;
	}
}

@media (max-height:800px) {
	.platforma {
		margin-top: 100px;
	}
}