.beton_info {
	width: 100%;
	padding-bottom: 20px;
	background-color: #434343;
	border-radius: 25px;
	margin-bottom: 30px;
}

.main_text>.h1Tovarname{
	margin-bottom: 10px;
}

.ShiftRight {
	margin-left: 20px;
}

.main_text>.h1_tovar_name{
	padding-bottom: 10px;
	border-bottom: 3px solid #BCBCBC;
	margin-top: 50px;
	padding-left: 40px;
	text-align: left;
}

.advantages_tovar>li {
	margin-bottom: 10px;
}

.betonm {
	color: #c09a54;
}

.ShiftRight b {
	color: #b6b6b6;
}

.delivery {
	margin-bottom: 10px;
	color: #F2B33A;
}

.delivery_beton>li {
	margin-bottom: 5px;
	margin-left: 40px;
	list-style-type: disc;
	font-size: 18px;
	text-align: justify;
}

.delivery_beton {
	margin-bottom: 40px;
}