@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}


/*___________________________________Шапка_________________________________*/

.header {
    /* background-image: url(images/fon-header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    background-color: rgba(0, 0, 0, 0.35);
}

body {
    background-color: #005976;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header-line {
    display: flex;
    padding: 0px 130px;
    justify-content: center;
}


/* Логотип */

.header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-text>ul {
    display: flex;
    list-style-type: none;
    padding-top: 36px;
    padding-left: 40px;
}


/* Текст шапки */

.header_text {
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.header_text:hover {
    color: #F2B33A;
}


/* [Кнопка Войти] */

.button_sign_in {
    color: #252525;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FDF7F5;
    padding: 4px 34px;
    margin-right: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.header-cart {
    margin-top: 30px;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^Шапка^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.platforma {
    background-color: rgba(37, 37, 37, 0.85);
    color: #FDF7F5;
    border-radius: 25px;
    padding: 0px 35px 35px 35px;
    margin-top: 150px;
}

.platforma>div>h1 {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    font-size: 36px;
}

.login,
.password,
.repeat_password {
    margin-bottom: 30px;
}

.log,
.pass,
.rep_pass {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    color: #424242;
    font-size: 20px;
    border-radius: 6px;
    padding: 8px;
    height: 20px;
    width: 400px;
    border: none;
}


/* [Кнопка login] */

.btn_vhod {
    background-color: #F2B33A;
    color: #252525;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.button_vhod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.btn_vhod:hover {
    background-color: #dba238;
}

.platforma>div>a {
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.platforma>div>a>p:hover {
    color: #0062ca;
    text-decoration: underline;
}

.platforma>div>a>p {
    margin-top: 10px;
}

@media (max-width:500px) {
    .log,
    .pass,
    .rep_pass {
        width: 300px;
    }
}

@media (max-width:400px) {
    .log,
    .pass,
    .rep_pass {
        width: 200px;
    }
}

@media (max-height:800px) {
    .platforma {
        margin-top: 100px;
    }
}